<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GuardarDatosCita</display-name>
    <servlet-name>GuardarDatosCita</servlet-name>
    <servlet-class>servlet.GuardarDatosCita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarDatosCita</servlet-name>
    <url-pattern>/GuardarDatosCita</url-pattern>
  </servlet-mapping>
  <display-name>Citas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EliminarDatosCita</display-name>
    <servlet-name>EliminarDatosCita</servlet-name>
    <servlet-class>servlet.EliminarDatosCita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarDatosCita</servlet-name>
    <url-pattern>/EliminarDatosCita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarDatosUsuario</display-name>
    <servlet-name>GuardarDatosUsuario</servlet-name>
    <servlet-class>servlet.GuardarDatosUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarDatosUsuario</servlet-name>
    <url-pattern>/GuardarDatosUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarDatosProfesional</display-name>
    <servlet-name>GuardarDatosProfesional</servlet-name>
    <servlet-class>servlet.GuardarDatosProfesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarDatosProfesional</servlet-name>
    <url-pattern>/GuardarDatosProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarHorario</display-name>
    <servlet-name>GuardarHorario</servlet-name>
    <servlet-class>servlet.GuardarHorario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarHorario</servlet-name>
    <url-pattern>/GuardarHorario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarDatosCita</display-name>
    <servlet-name>ActualizarDatosCita</servlet-name>
    <servlet-class>servlet.ActualizarDatosCita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarDatosCita</servlet-name>
    <url-pattern>/ActualizarDatosCita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPerfilProfesional</display-name>
    <servlet-name>EditarPerfilProfesional</servlet-name>
    <servlet-class>servlet.EditarPerfilProfesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPerfilProfesional</servlet-name>
    <url-pattern>/EditarPerfilProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>servlet.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPerfilUsuario</display-name>
    <servlet-name>EditarPerfilUsuario</servlet-name>
    <servlet-class>servlet.EditarPerfilUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPerfilUsuario</servlet-name>
    <url-pattern>/EditarPerfilUsuario</url-pattern>
  </servlet-mapping>
</web-app>